body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  max-height: 500px;
  float: right;
  font-family: sans-serif;
}

header img{
  max-width: 100%;
  border-radius: 50%;
}

header a{
  float: right;
  margin-right: 17px;
  margin-top: 6px;
  font: arial,helvetica;
  font-size: 13px;
  color: #333;
  text-decoration: none;
}

header a:hover{
  color: #808080;
}

.gmail-icon{
  border-radius: 50%;
  width: 30px;
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.header-icons{
  float: right;
  width: 200px;
  margin-top: 15px;
  margin-right: 10px;
}

i{
  font-size: 20px;
  margin-top: 4px;
  margin-right: 8px;
  color: #808080;
  cursor: pointer;
  float: right;
}

.header-icons i:hover{
  color: #000;
}

.header-btn{r
  font-weight: bold;
  background: #4484f1;
  padding: 8px;
  color: #fff;
  border-radius: 20%;
}

main{
  font-family: sans-serif;
  padding: 20px;
}

.google-logo img{
  margin-top: 150px;
  width: 272px;
  cursor: pointer;
}

.search-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 550px;
  height: 23px;
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #dfe1e5;
}

.search-box input{
  border: none;
  outline: none;
  font-size: 17px;
  width: 495px;
  padding-left: 10px;
  height: 27px !important;
  line-height: 34px;
}

.search-box:hover,
.search-box:focus{
  border: 1px solid #FFFFFF;
  box-shadow: 0px 1px 8px 0px #C8C8C8;
}

.search-box img{
  margin-left: 15px;
  height: 24px;
  width: 24px;
}

.footer{
  background: #f2f2f2;
  margin-top: 100px;
  padding: 20px;
  color: #000;
  text-decoration: none;
}

.Country{
  font-size: 15px;
}

.footer-right{
  float: right;
}

.button
{
	width: 150px;
	padding: 10px;
	background-color: #FF8C00;
	box-shadow: -8px 8px 10px 3px rgba(0,0,0,0.2);
    font-weight:bold;
	text-decoration:none;
}
#cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}
#loginScreen
{
    height:380px;
    width:340px;
    margin:0 auto;
    position:relative;
    z-index:10;
    display:none;
	background: url(login.png) no-repeat;
	border:5px solid #cccccc;
	border-radius:10px;
}
#loginScreen:target, #loginScreen:target + #cover{
    display:block;
    opacity:2;
}
.cancel
{
    display:block;
    position:absolute;
    top:3px;
    right:2px;
    background:rgb(245,245,245);
    color:black;
    height:30px;
    width:35px;
    font-size:30px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
}
